.freemium-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .freemium-freemium {
    width: 100%;
    height: 1080px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .freemium-group10 {
    top: 0;
    left: 270px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color: rgba(104, 90, 203, 1);
  }
  .freemium-frame34 {
    gap: 15px;
    top: 118px;
    left: 61px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  .freemium-frame9 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-text {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 30px;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text02 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame33 {
    gap: 21px;
    display: flex;
    align-items: flex-start;
  }
  .freemium-frame16 {
    gap: 10px;
    height: 244px;
    display: flex;
    padding: 28px 16px 20px 20px;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(49, 0, 131, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    flex-direction: column;
    background-color: rgba(247, 201, 61, 1);
  }
  .freemium-frame15 {
    gap: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-text04 {
    color: rgba(0, 0, 0, 1);
    width: 162px;
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame12 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .freemium-frame10 {
    gap: 4px;
    display: flex;
    align-items: flex-start;
  }
  .freemium-group4 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse4 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text06 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text07 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame11 {
    gap: 4px;
    display: flex;
    align-items: flex-end;
  }
  .freemium-group5 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse3 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text09 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text10 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame14 {
    gap: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-frame13 {
    display: flex;
    align-items: flex-start;
  }
  .freemium-text12 {
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text14 {
    color: rgba(0, 0, 0, 1);
    width: 149px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text16 {
    color: rgba(0, 0, 0, 1);
    width: 264px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame24 {
    gap: 10px;
    display: flex;
    padding: 15px 14px;
    overflow: hidden;
    align-items: flex-start;
    border-color: rgba(49, 0, 131, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    flex-direction: column;
    background-color: rgba(247, 201, 61, 1);
  }
  .freemium-frame22 {
    gap: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-frame23 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  .freemium-text18 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame21 {
    gap: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .freemium-frame17 {
    gap: 4px;
    display: flex;
    align-items: flex-start;
  }
  .freemium-group6 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse5 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text20 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text21 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame18 {
    gap: 4px;
    display: flex;
    align-items: flex-end;
  }
  .freemium-group7 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse6 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text23 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text24 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame20 {
    gap: 7px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .freemium-frame19 {
    display: flex;
    align-items: flex-start;
  }
  .freemium-text26 {
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text28 {
    color: rgba(0, 0, 0, 1);
    width: 176px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text30 {
    color: rgba(0, 0, 0, 1);
    width: 264px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text32 {
    color: rgba(0, 0, 0, 1);
    width: 264px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame32 {
    gap: 10px;
    display: flex;
    padding: 22px 16px;
    overflow: hidden;
    align-items: flex-start;
    border-color: rgba(49, 0, 131, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    flex-direction: column;
    background-color: rgba(247, 201, 61, 1);
  }
  .freemium-frame31 {
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-frame29 {
    gap: 10px;
    width: 228px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .freemium-text34 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame30 {
    gap: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .freemium-frame25 {
    gap: 4px;
    display: flex;
    align-items: flex-start;
  }
  .freemium-group8 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse7 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text36 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text37 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame26 {
    gap: 4px;
    display: flex;
    align-items: flex-end;
  }
  .freemium-group9 {
    width: 19px;
    height: 19px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .freemium-ellipse8 {
    top: 4px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
  }
  .freemium-text39 {
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text40 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-frame28 {
    gap: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .freemium-frame27 {
    display: flex;
    align-items: flex-start;
  }
  .freemium-text42 {
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: auto;
    font-size: 25px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text44 {
    color: rgba(0, 0, 0, 1);
    width: 147px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text46 {
    color: rgba(0, 0, 0, 1);
    width: 264px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  .freemium-text48 {
    color: rgba(0, 0, 0, 1);
    width: 264px;
    height: auto;
    font-size: 14px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: 89.99999761581421%;
    font-stretch: normal;
    text-decoration: none;
  }
  